form{
background-color: rgba(83, 83, 137, 0.252);
    
}

div {
    display: inline;
    margin-left: 20px;
}

input[type=text], input[type=date], input[type=email]  { /*On s'intéresse seulement aux input de type text seulement */
    padding: 6px; /*Ajoute un espace à l'intérieur de la balise <input>*/
    margin: 10px; /*Ajoute un espace extérieur de la balise <input>*/
    border: solid; 
    border-radius: 10px;
    border-color: rgb(28, 113, 144);

}

button {
    
    margin-left: 20px;
    margin-bottom: 15px;
  
}

input[type=date] {
    padding: 6px; /*Augmentation de l'espace intérieur de l'attribut date*/
    margin-left: 15px;

}

input[type=email] {
    padding: 6px;
    margin-left: 15px;

}
