/* j'écris dans les accolade les attribut */
p {
    color: #A0522D;
    background-color: #FFD700;
    border: 2px solid ;
    border-radius: 2em;
    text-align: center;
}

h1 {
    color: green;
}

h5 {
    color: #A9A9A9;
}

ol {
    color: #FA8072;
    font-size: 2em;
}

/* Pour sélectionner une classe sur css on débute par un point (.) ensuite on met le nom de la classe.
Par exemple içi je séléctionne la classe rsma.*/
.rsma {
    color: blue;
    font-size: 1.5em;
    Font-family: 'Oswald', sans-serif;
    font-style: italic
}

body {
    Font-family: 'Caveat', sans-serif;
    background-color: #FFE4B5;
    font-weight: bold;
}

h3 {
    font-size: 40px;
    text-decoration: underline;
}

#ht {
    font-size: 45px;
}